.popup__photo-container {
  display: flex;
  flex-direction: column;
  margin: 88px auto auto;
  width: max-content;
  max-width: 75vw;
}

@media (max-width : 550px) {
  .popup__photo-container {
    margin: 130px auto auto;
  }
}
