.element__image {
  width: 282px;
  height: 282px;
  grid-column: 1/-1;
  object-fit: cover;
  border-radius: 7px 7px 0 0;
}

@media (max-width : 1023px) {
  .element__image {
    width: 332px;
    height: 332px;
  }
}

@media (max-width : 500px) {
  .element__image {
    width: 282px;
    height: 282px;
  }
}
