.profile__info {
  width: 38.1%;
  display: grid;
  margin-right: 27.9%;
  grid-template-columns: auto 24px;
  border: 1px solid red;
}

@media (max-width : 1023px) {
  .profile__info {
    margin-right: 15%;
  }
}

@media (max-width : 767px) {
  .profile__info {
    width: 100%;
    margin-top: 14px;
    margin-right: 0;
    text-align: center;
    justify-content: center;
  }
}
