@import url(./__image/element__image.css);
@import url(./__trash-button/element__trash-button.css);
@import url(./__text/element__text.css);
@import url(./__like-button/element__like-button.css);
@import url(./__like-button/_active/element__like-button_active.css);

.element {
  background-color: #fff;
  display: grid;
  grid-template-columns: auto 16%;
  grid-template-rows: auto;
  border-radius: 10px;
}
